<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://client.tieba.baidu.com/ipas/Dailyb/Beta_TBClient_145.ipa</string>
				</dict>
				<dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>url</key>
                   <string>http://172.22.68.244/show/?type=show&path=%E8%B4%B4%E5%90%A7mue%2F%E8%B4%B4%E5%90%A7%E6%97%A0%E7%BA%BF5.2%E6%96%B0%E8%A7%86%E8%A7%89%2F%E8%B4%B4%E5%90%A7%E6%97%A0%E7%BA%BFlogo%2B%E5%90%AF%E5%8A%A8%E9%A1%B5%2Ficon%2F%E8%B4%B4%E5%90%A7icon5.0%E6%9B%B4%E6%96%B0&file=icon%40108.png</string>
               </dict>
			   <dict>
                   <key>kind</key>
                   <string>full-size-image</string>
                   <key>url</key><string>http://172.22.68.244/show/?type=show&path=%E8%B4%B4%E5%90%A7mue%2F%E8%B4%B4%E5%90%A7%E6%97%A0%E7%BA%BF5.2%E6%96%B0%E8%A7%86%E8%A7%89%2F%E8%B4%B4%E5%90%A7%E6%97%A0%E7%BA%BFlogo%2B%E5%90%AF%E5%8A%A8%E9%A1%B5%2Ficon%2F%E8%B4%B4%E5%90%A7icon5.0%E6%9B%B4%E6%96%B0&file=icon%401024.png</string>
               </dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.baidu.Tieba.TBClient</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>百度贴吧</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
